/*-- scss:defaults --*/
// match the main site (Miniport)
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
$font-family-sans-serif: "Open Sans", sans-serif;
$link-color: #43B3E0;
$navbar-bg: #282828;

/*-- scss:rules --*/
